<div class="aio_signin d-flex justify_ce" id="loginPage">
    <div class="loginareainner">
        <a routerLink="" class="logo d-flex"><img src="/assets/img/moglix-cms@2x.png" width="170"/></a>
        <div class="formarea">
            <div class="formfields">
                <mat-form-field class="mog3_floatmatinput" appearance="outline">
                    <mat-label>Enter Login ID</mat-label>
                    <input matInput placeholder="Moglix123">
                </mat-form-field>
            </div>
            <div class="formfields">
                <mat-form-field class="mog3_floatmatinput" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="password" placeholder="*****">
                </mat-form-field>
            </div>
            <div class="formfields justify_fs text-left">
                <span routerLink="/forgot-password" class="link">Forgot Passwords</span>
            </div>
            <button mat-button class="signinbutton mog3_primary_flat_btn">CONTINUE</button>
        </div>
        
    </div>
</div>
