<div class="dashboard">
<div class="container">
  <h1>Hi Anirudh,</h1>
  <p>We have few things for you to look at.</p>
</div>
</div>
<div class="card-box">
  <mat-card class="card">
    <img mat-card-image src="/assets/img/moglix.svg" alt="Moglix">
    <mat-card-actions>
      <div class="content">
        <p>248 <br> <span>Total Post</span></p>
        <p class="last-p">18 <br> <span>Draft Post</span> </p>
      </div>   
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="/assets/img/Image-152@2x.png" alt="Business_Moglix">
    <mat-card-actions>
      <div class="content">
        <p>248 <br> <span>Total Post</span></p>
        <p class="last-p">18 <br> <span>Draft Post</span> </p>
      </div>   
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="/assets/img/credlix@2x.png" alt="Credlix">
    <mat-card-actions>
      <div class="content">
        <p>248 <br> <span>Total Post</span></p>
        <p class="last-p">18 <br> <span>Draft Post</span> </p>
      </div>   
    </mat-card-actions>
  </mat-card>
  
</div>

