<section class="sec-btn">
  <div>
    <button mat-flat-button class="mog3_primary_flat_btn">All (388)</button>
    <button mat-flat-button class="mog3_white_flat_btn">Published (380)</button>
    <button mat-flat-button class="mog3_white_flat_btn">Draft (8)</button>
  </div>
</section>
<section class="head-table">
  <div class="tab-header">
    <form class="search-form">  
      <div class="inner-form">
        <i class="ri-search-line"></i>
        <input type="search" placeholder="Search" id="site-search" name="q">
        <button class="search-btn">Search Post</button>
      </div>
    </form>
<div class="select-box">
  <mat-form-field appearance="outline" class="mog3-matselect withoutoutline">
    <!-- <label>All Dates</label> -->
    <mat-select placeholder="All Dates">
      <mat-option value="plant1">plant 1</mat-option>
      <mat-option value="plant2">plant 2</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline" class="mog3-matselect withoutoutline">
  <!-- <label>All Categories</label> -->
  <mat-select placeholder="All Categories">
    <mat-option value="plant1">plant 1</mat-option>
    <mat-option value="plant2">plant 2</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline" class="mog3-matselect withoutoutline">
<!-- <label>Seo Score</label> -->
<mat-select placeholder="Seo Score">
  <div class="mat-option">
    <mat-option value="plant1">plant 1</mat-option>
    <mat-option value="plant2">plant 2</mat-option>
  </div>
</mat-select>
</mat-form-field>
</div>
<button mat-flat-button class="mog3_grey_flat_btn">Apply</button>
  </div>
</section>
<section class="mog3_msnsearchtable" tabindex="0">
    <table mat-table [dataSource]="dataSource">    
        
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
            </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
            </td>      
        </ng-container>               
      
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element"> 
            {{element?.title}}
        </td>
      </ng-container>    
      
      <ng-container matColumnDef="subTitle">
        <th mat-header-cell *matHeaderCellDef>Sub Title</th>
        <td mat-cell *matCellDef="let element"> 
           {{element?.subTitle}}
         </td>
      </ng-container>
  
     
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{element?.category}}</td>
      </ng-container>
      
      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef>Tag</th>
        <td mat-cell *matCellDef="let element">{{element?.tag}}</td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{element?.date}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </section>


