<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="sidebar-dropdown">
            <a class="icon" href="#">
                <i class="ri-dashboard-fill"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a class="icon" href="#">
              <img src="/assets/img/post.svg" alt="post">
              <span>Post</span>
            </a>
            <div class="sidebar-submenu">
              <ul class="sub-menu">
                <li>
                  <a href="#">All Post

                  </a>
                </li>
                <li>
                  <a (click)="openDialog()">Add New</a>
                </li>
                <li>
                  <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Tags</a>
                </li>
                <li>
                    <a href="#">Reorder</a>
                </li>
                <li>
                    <a href="#">Blog Filter Setting</a>
                </li>
                <li>
                  <a class="last-child icon" href="#">
                    <i class="ri-user-settings-line"></i>
                  <span>User Settings</span>
                </a>
              </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
  





