@import 'remixicon/fonts/remixicon.css';
.sidebar-wrapper {
   background-color: #0779FF;
   height: auto;
}
.sidebar-menu {
    ul {
        list-style-type: none;
        padding: 0;
    }
    .sidebar-dropdown {
        padding: 10px 0;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            span {
                font-weight: bold;
            }
            i {
               font-size: 24px;
                color: #fff;
                margin-right: 10px;
            }
            img {
                margin-right: 10px; 
            }
        }
        .icon {
            display: flex;
            align-items: center;
        }
        .sidebar-submenu {
            .sub-menu{
                li:last-child {
                    padding-left: 0;
                }
            }
            padding: 10px 0;
            ul {
                padding: 0;
                li {
                    padding: 10px 0 10px 40px;  
                }
            }
        }
    }
}

::ng-deep {
    .sidebar-content {
        padding: 0 20px;
    }
}