
    <header class="mog3_header d-flex justify_sb" id="mainheader">
        <div class="mog3_hleft d-flex">
           
            <!-- sidebar -->
            <a href="#" class="mog3_logo"><img src="/assets/img/moglix-cms@2x.png" width="100"/></a>
        </div>
        <div class="mog3_hright">
            <ul class="mog3_rightmenu">
                <li><button mat-icon-button class="mog3_iconbtn"><i class="ri-notification-3-line"></i></button></li>
                <li><span><img src="/assets/img/user– 1@2x.png" /></span></li>
            </ul>
        </div>
    </header>