<div class="mog3_body">
    <header class="mog3_header d-flex justify_sb" id="mainheader">
    <div class="mog3_hleft d-flex">
        <button class="mog3_iconbtn noborder" [matMenuTriggerFor]="mainmenu"><i class="ri-menu-2-fill"></i></button> 
        <mat-menu #mainmenu="matMenu" class="mog3_mainmenu" yPosition="above" xPosition="before">
            <div class="mog3_menucontent">
              
            </div>
        </mat-menu>
        <a href="#" class="mog3_logo"><img src="/assets/img/.png" width="100"/></a>
    </div>
    <div class="mog3_hright">
        <ul class="mog3_rightmenu">
            <li><button mat-icon-button class="mog3_iconbtn"><i class="ri-notification-3-line"></i></button></li>
            <li><span><img src="/assets/img/imgnew/useravatar.png" /></span></li>
        </ul>
    </div>
</header>
<router-outlet></router-outlet>
</div>
