<section class="add-related-post">
    <div class="container-sm container-lg container-xl">
        <div class="heading-post">
            <h2>Choose Post</h2>
            <p>Choose Minimum Three Related Post*</p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="form post-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search your post">
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form post-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Select</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </div>
        <div class="related-post-box">
            <div class="post">
                <mat-checkbox class="example-margin">
                    <div class="img-text">
                        <img src="../../../../assets/img/annotation-help.svg" alt="animation">
                        <div class="text-p">
                            <p>5 Reason to wake up at 5AM</p>
                            <p>Published: Sep 2, 2022 | Ashish Kumar</p>
                        </div>
                    </div>
                </mat-checkbox>
                <mat-checkbox class="example-margin">
                    <div class="img-text">
                        <img src="../../../../assets/img/annotation-help.svg" alt="animation">
                        <div class="text-p">
                            <p>5 Reason to wake up at 5AM</p>
                            <p>Published: Sep 2, 2022 | Ashish Kumar</p>
                        </div>
                    </div>
                </mat-checkbox>
                <mat-checkbox class="example-margin">
                    <div class="img-text">
                        <img src="../../../../assets/img/annotation-help.svg" alt="animation">
                        <div class="text-p">
                            <p>5 Reason to wake up at 5AM</p>
                            <p>Published: Sep 2, 2022 | Ashish Kumar</p>
                        </div>
                    </div>
                </mat-checkbox>
                <mat-checkbox class="example-margin">
                    <div class="img-text">
                        <img src="../../../../assets/img/annotation-help.svg" alt="animation">
                        <div class="text-p">
                            <p>5 Reason to wake up at 5AM</p>
                            <p>Published: Sep 2, 2022 | Ashish Kumar</p>
                        </div>
                    </div>
                </mat-checkbox>
            </div>
        </div>
        <div class="btn-sec">
            <div class="row">
                <div class="col-md-6">
                    <p>2 of 3 Post Selected</p>
                </div>
                <div class="col-md-6 category-btn">
                    <div class="form-category">
                        <div class="btn-form">
                            <button class="cancel">Cancel</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>