@import '../../../../theme.scss';
.create-sec{
    margin: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: end;
    .edit-text-sec{
        .icon-edit{
            list-style-type: none;
            display: flex;
            padding-left: 0;
            li{
                margin-right: 10px;
                i{
                    font-size: 20px;
                    font-weight: 600;
                }
                p{
                    margin: 0;
                }
            }
        }
    }

    .create-sec-btn{
        .primary_btn{
            color: #D9232D;
            background-color: #F9F9FB;
        }
    .mog3_primary_flat_btn{
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        padding: 0 20px;
        font-size: 12px;
        border:1px solid #D9232D;
        color: #D9232D;
        background-color: #F8D3D5;
        &:disabled{
            background: #A2A2A2;
            color: #fff;
        }
        i{
            margin-right: 5px;
            font-size: 17px
        }
    }

    .red_flat_btn {
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        padding: 0 20px;
        font-size: 12px;
        color: #fff;
        background-color: #D9232D;
        margin-left: 10px;
      
        i{
            margin-right: 5px;
            font-size: 17px
        }
    }
    }
}
.form-input{
    margin: 40px 25px;
    .form-wrapper{
        .inner-form-box{
            width: 100%;
            padding:0 30px;
            .title-box{
                h3{
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                    color: #212529;
                    font-weight: 500;
                }
            .title-form{
                textarea{
                    width: 100%;
                    max-width: 100%;
                    height: 100px;
                    background-color: #FFFFFF;
                    border: 1px solid #E0E0E0;
                    border-radius: 4px;
                    padding: 10px;
                }
               
            }
         }
         .edit-box{
            background-color: #F5F5F5;
            border: 1px solid #E0E0E0;
            padding: 5px;
            position: relative;
            ul{
                list-style-type: none;
                display: flex;
                align-items: center;
                padding-left: 0;
                margin: 0;
              
                li{
                    font-size: 18px;
                    font-weight: 600;
                    margin-right: 5px;
                    border: 1px solid #E0E0E0;
                    background-color: #FFFFFF;
                    padding: 3px 5px;
                    
                }
            }
         }
        }
    }

    .tab-sec{
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        .content-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                color: #0078FF;
                text-decoration: underline;
            }
        }
    }
}

.angular-editor-textarea{
background-color: #fff !important;  
}
 


.media-upload-sec{
    span{
        i{
            font-size: 34px;
            font-weight: 600;
            vertical-align: middle;
            margin-right: 10px;
            color: #212529;
        }
    }
    p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    form{
        input,
        input[type="file" i]{
            background-color: #F8D3D5;
            box-shadow: 0px 3px 8px #00000014;
            border: 1px solid #D9232D;
            border-radius: 4px;
            color: #D9232D;
        }
    }

    .file-upload {
        background-color: #FBE8E9;
        text-align: center;
      }
      
      .file-upload-btn {
        margin: 0;
        color: #D9232D;
        background: #F8D3D5;
        border: none;
        padding: 10px;
        border: 1px solid #D9232D;
        border-radius: 4px;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
      }

      .file-media-btn{
        color: #D9232D;
        background: #F8D3D5;
        border: none;
        padding: 10px;
        border: 1px solid #D9232D;
        border-radius: 4px;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 10px;
      }
      
      .file-upload-btn:hover {
        background: #D9232D;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
      }
      
      .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
      }
      
      .file-upload-content {
        display: none;
        text-align: center;
      }
      
      .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
    /* width: 100%; */
        width: 80px;
        height: 40px;
        outline: none;
        opacity: 0;
        cursor: pointer;
        left: 178px;
        top: 125px;
        right: 0px;
      }
      
      .image-upload-wrap {
        border: 1px solid #707070;  
        position: relative;
        padding: 30px 0;
        .btn-upld{
            display: flex;
            align-items: center;
            justify-content: center;
        }
      }
      
      .image-dropping,
      .image-upload-wrap:hover {
        background-color: #FBE8E9;
        border: 1px solid #707070;  
      }
      
      .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
      }
      
      .drag-text {
        text-align: center;
      }
      
      .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 60px 0;
      }
      
      .file-upload-image {
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
      }
      
      .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
      }
      
      .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
      }
      
      .remove-image:active {
        border: 0;
        transition: all .2s ease;
      }
}

.mt-15{
    margin-top: 15px;
    margin-bottom: 30px;
}

.mt-30{
margin-top: 30px;
}

.date-input{
    width: 100%;
    max-width: 260px !important;
}

.add-editor{
    margin-top: 20px;
    p{
        color: #212529;
        font-size: 12px;
        line-height: 24px;
        text-align: left;  
        margin-bottom: 0;
        span{
            i{
               font-size: 30px;
               color: #D9232D; 
               vertical-align: middle;
               margin-right: 20px;
            }
        }
    }
}

.form-publish{
    .mat-form-field{
        width: 100%;
        max-width: 100%;
        display: block;
        font-size: 16px;
        line-height: 24px;
    }
}


.toggle-btn{
    .up-down-btn{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        width: 100%;
        max-width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 250px;
        top: 347px;
        ul{
            padding-left: 0;
            list-style-type: none;
            li{
                i{
                    font-size: 18px;
                    color: #3c3c3c;
                    font-weight: bold;
                }
                .ri-grid-fill{
                    color: #A2A2A2;
                }
            }
        }
    }

    .dlt-btn{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        width: 100%;
        max-width: 35px;
        height: 100%;
        max-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 250px;
        top: 460px;
        i{
            font-size: 18px;
            color: #3c3c3c;
        }
    }
}

.editor-div{
    ul{
        padding-left: 0 !important;
        list-style-type: none !important;
        display: flex;
        align-items: center;
        li{
            margin-left: 15px;

            i{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

::ng-deep{
 
    .mat-menu-panel {
        min-width: 600px !important;
        max-width: 600px !important;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 48px);
        border-radius: 4px;
        outline: 0;
        min-height: 64px;
        padding: 0 20px;
    }  
    
    .angular-editor-textarea{
        background-color: #fff !important;
        min-height: 100px !important;
    }


.form-input{
    .form-wrapper {
        .inner-form-box{
            .edit-box{
                background-color: #F5F5F5;
                border: none !important; 
                padding: 0px !important; 
                position: relative;
        } 
    }
} 
}
.tab-sec{
    .mat-expanded{
        background-color: #FDF6F6 !important;
    }
}
.multiselect-box{
    ul{
        list-style: none;
    }
    .mat-checkbox-label{
        font-size: 12px !important;
        line-height: 18px !important;
        font-weight: normal !important;
        color: #3C3C3C !important;
    } 
    .mat-checkbox-checked.mat-accent .mat-checkbox-background{
        background:#ED6F76 !important;
    }
}
}

.search-form {
    .inner-form {
        position: relative;
        .ri-search-line {
            position: absolute;
            top: 8px;
            left: 10px;
        }
        input {
            padding: 8px 10px 8px 30px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 4px;
            opacity: 1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 12px;
            width: 100%;
            max-width: 60%;
        }
        button {
            padding: 7px 10px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 4px;
            opacity: 1;
            border-left: hidden;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #D9232D;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
        }
       
    }
}

.category-btn{
    text-align: right;
    .primary{
        font-size: 10px;
        font-weight: bold;
        border: 1px solid #D8232D;
        color: #D8232D; 
        background-color: #fff;
        padding: 4px 5px;
        border-radius: 4px;
    }
}

.mt-10{
    margin-top: 10px;
}

@media only screen and (min-width: 1600px){
    .add-editor{
        left: 296px !important;
        bottom: 400px !important;
    }
    .up-down-btn{
        left: 250px !important;
        top: 347px !important;
    }
}