/* You can add global styles to this file, and also import other style files */

@import './theme';
html, body { height: 100%; font-family: $fontFamily; }
body { margin: 0;padding: 0; background: #fff;}
div,h1,h2,h3,h4,h5,span,p,label,input,button{
    font-family: $fontFamily; 
}
